<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Moviehub - The movie database">
    <meta name="keywords" content="moviehub, movies, django, awd">
    <meta name="author" content="Kerstin Kegel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moviehub{% endblock %}</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'frontend_home' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Moviehub logo">
              <img src="{% static 'images/logo.png' %}" alt="logo" style="height: 50px;" > 
            </a>
        <div class="container">
            <a class="navbar-brand" href="{% url 'frontend_home' %}">Moviehub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="moviesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="moviesDropdown">
                            <a class="dropdown-item" href="{% url 'movie_list' %}">List all</a>
                            <a class="dropdown-item" href="{% url 'top_grossing_movies' %}">Top grossing</a>
                            <a class="dropdown-item" href="{% url 'top_movies_by_imdb' %}">Top imdb score</a>
                            <a class="dropdown-item" href="{% url 'movies_by_year_genre' %}">Filter by year &amp; genre</a>
                            <a class="dropdown-item" href="{% url 'movies_by_content_rating' %}">Filter by content rating</a>
                            <a class="dropdown-item" href="{% url 'movies_by_language' %}">Filter by language</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="actorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="actorsDropdown">
                            <a class="dropdown-item" href="{% url 'actors_list' %}">List all</a>
                            <a class="dropdown-item" href="{% url 'actors_with_director' %}">Director-actor pairings</a>
                            <a class="dropdown-item" href="{% url 'movies_by_actor' %}">Specific actor-movie list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="directorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Directors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="directorsDropdown">
                            <a class="dropdown-item" href="{% url 'directors_list' %}">List all</a>
                            <a class="dropdown-item" href="{% url 'top_directors' %}">Highest grossing</a>
                            <a class="dropdown-item" href="{% url 'top_versatile_directors' %}">Top versatile</a>
                            <a class="dropdown-item" href="{% url 'top_directors_by_imdb' %}">Highest average imdb score</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'api:api_home' %}">API Home</a>  <!-- Note the use of 'api:' namespace -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </nav>
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-4">
        <p>&copy; 2024 Moviehub</p>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
