{% extends "movies/base.html" %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} Movie{% endblock %}

{% block content %}
<div class="container">
    <!-- Display Edit or Create Movie depending on existance of movie -->
    <h1 class="mt-4">{% if form.instance.pk %}Edit{% else %}Create{% endif %} Movie</h1>
    <form method="post" class="mt-3">
        <!-- Security for django forms to protect cross-site forgery attacks -->
        {% csrf_token %}

        <!-- render form fields followed by a line break -->
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
        <a href="{% url 'movie_list' %}" class="btn btn-secondary mt-3">Back to list</a>
    </form>
</div>
{% endblock %}
